<html>
<body>
<h2> Welcome to health-direct </h2>
<p>Search for questions to add to your queue, this is if you'd like to track your own health.</p>
<form method="post" action="">
<textarea name="questionsearch" cols="50" rows="1">
Enter a question to search for it...
</textarea>
<input type="submit" value="Search" />
</form>

<p>Your results would display here, then if there were no results, we'd ask you if you'd like to create a new question.</p>
<a href="http://127.0.0.1:8000/testbuilder">Create a Test</a>
<a href="http://127.0.0.1:8000/home">home</a>
</body>
</html>

