<html>
<body>
<h2> Build a Question </h2>
<br>Question text:
<form method="post" action="">
<textarea name="question" cols="50" rows="5">
Enter a question here...
</textarea>
</form>

<br>Response 1:
<form method="post" action="">
<textarea name="response1" cols="40" rows="1">
Enter a predefined response to the question...
</textarea>
</form>

<br>Response 2:
<form method="post" action="">
<textarea name="response2" cols="40" rows="1">
Enter a predefined response to the question...
</textarea>
</form>

<br><input type="submit" value="Create">
<br><a href="http://127.0.0.1:8000/search">Question Search</a>
<br><a href="http://127.0.0.1:8000/home">home</a>

</body>
</html>
