<html>
	<body>
		<p><h2>Please login:</h2></p>
		{% if invalid %}
			<b> You entered an invalid username and/or password </b>
		{% endif %}
		{% if session.skipped %}
			<b> Login first to access that page </b>
		{% endif %}
		<form action="." method="post"> {% csrf_token %}
			<table>
			<tr>
			    <td>{{ form.username.label_tag }}</td>
			    <td>{{ form.username }}</td>
			</tr>
			<tr>
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
			</tr>
			</table>
			
			<input type="submit" value="login" />
		</form>
	</body>
</html>