<html>
	<body>
		<h2>Welcome to health-direct</h2>
		<p>How are you feeling?</p>
		<form method="post" action="">
			<textarea name="dailycheckup" cols="50" rows="1">
			The information entered here will be parsed into tags...
			</textarea><br>
			<input type="submit" value="Submit" />
		</form>
		<p>Your Checkups:</p>
		{% if no_checkups %}
			<b>You're out of checkups</b>
		{% else %}
			{% load checkup_tags %}

			{% CheckupDisplay AppName %}
		{% endif %}

		<p><a href="http://127.0.0.1:8000/search">Build test queue</a></p>
	</body>
</html>
